{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-quotes": 0,
    "react/wrap-multilines": 0,
    "semi": 0,
    "react/jsx-filename-extension": 0,
    "comma-dangle": 0
  }
}
